header {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 48px;
        text-align: center;
    }

    p {
        // font-family: "Space Grotesk", sans-serif;
        text-align: center;
    }
}